.product-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.product-details {
  display: flex;
  padding: 1.5rem;
  flex-direction: row;
  width: 100%;
  margin-top: 3rem;
  border: 0.01rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.product-description {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  color: #666; 
}

.product-info {
  /* flex: 2; */
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  color: #666; 
  margin-bottom: 0.5rem;
  color: #777; 
}

.product-actions button {
  padding: 0.625rem 1.25rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  transition: background-color 0.3s;
}

.product-actions  button:hover {
  background-color: #0056b3;
}


.rating{
  margin-bottom: 0.3rem; 
  color:burlywood;
  margin-left: 1rem;
}
/* //////////////////////////////// */


.product-details-actions button {
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.product-details-actions button:hover
{
  background-color: #0056b3;
}

.details-rating{
  margin-bottom: 0.3rem; 
  color:burlywood;
  margin-left: 1rem;
}

.product-details-category {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  color: #777; 
}
.product-details-description{
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  color: #666; 
}

.product-details-price {
  margin-bottom: 0.3rem; 
  color:dodgerblue;
  margin-left: 1rem;
}

.product-details-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333; 
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .product-details img{
    width:100%;
  }  
  .product-info{
    margin-left: 0;
  }
}