.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  padding-top: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem; 
  background-color: #333;
  color: #fff
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  display: inline;
  margin-right: 0.625rem; 
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
}

.product-display {
  display: flex;
  align-items: center;
}

.product-display select,
.product-display input[type="text"] {
  margin-right: 0.625rem; 
  padding: 0.3125rem; 
}

.product-display select {
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem; 
}

.product-display input[type="text"] {
  border: 0.0625rem solid #ccc; 
  border-radius: 0.3125rem; 
}

.login-button {
  background-color: #007bfa;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem; 
  cursor: pointer;
  text-decoration: none;
  position:relative;
}

.logout-button{
  position:absolute;
  top:2rem;
  right:0.1rem;
}
.logout-button button{
  
  background-color: grey;
}

.login-button:hover {
  background-color: #0056b3;
}
