.login-container p{
  text-align: center;
  
    /* border: 2rem; */
  }
  
  .login-form {
    /* margin-top: 5rem; */
    margin: 2rem auto 2rem;
    width: 20rem; 
  }
  
  .login-form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    margin-bottom: 1rem; 
    padding: 0.5rem; 
    border: 0.0625rem solid #ccc; 
    border-radius: 0.3125rem;
  }
  
  /* .login-button{

  } */
