.login-box {
  width: 20rem;
  margin: 0 auto;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  margin-top: 4rem;
  padding: 1.25rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.login-container p {
  text-align: center;
  font-size: 2rem;
}

.login-form {
  margin-top: 1.25rem;
}

.login-form label {
  display: block;
  margin-bottom: 0.3125rem;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  margin-bottom: 0.625rem;
  padding: 0.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.1875rem;
}

.login {
  width: 100%;
  padding: 0.625rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
}

.login:hover {
  background-color: #0056b3;
}
