.orders-container {
    text-align: center;
    margin-top:4rem;
  }
  
  .order-products {
    display: flex;
    justify-content: center;
    margin-top: 1.3rem; 
  }
  
  .order-table {
    width: 60%;
    border-collapse: collapse;
    border: 0.05rem solid #ddd;
  }
  
  .order-table-header {
    background-color: #f2f2f2;
    font-weight: bold;
    border-bottom: 0.01rem solid #ddd;
    height: 2rem;
  }
  
  .order-item {
    border-bottom: 1px solid #ddd;
  }
  
  .order-item:last-child {
    border-bottom: none;
  }
  
  .order-item td {
    align-items: center;
    padding: 1.5rem 3.5rem 1.5rem 1.5rem;
  }
  .order-item td:first-child {
    text-align: center;
  }
  
  .order-item td:last-child {
    text-align: right;
  }